@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.containerMain{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes translateLeft {
  from {
    transform: translate -100vw 0;
  }
  to {
    transform: translate -100vw 0;
  }
} 

.animaLeft{
  animation: translateLeft 1s ease;
  animation-timeline: view();
}

